*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board{
    position: relative;
    border: 1px solid #000000;
    height: 500px;
    width: 500px;
    overflow: hidden;
    margin:  auto;


}
.cobra{
    position: absolute;
    left: 10%;
    bottom: 10%;
    height: 30px;
    width: 10px;
    background-color: black;
   
    

}

.movimentoCobraVertical{
    animation:  movimentoCobraV 5s infinite linear;

}

.movimentoCobraHorizontal{
    animation:  movimentoCobraH 5s infinite linear;

}